<div class="flex-container fade-up">
    <div class="f1">
      <img src="./assets/home/f1.png" alt="error">
      <div class="text"><b>25+</b></div>
      <div class="subtitle">Clients</div>
    </div>
    <div class="f2">
      <img src="./assets/home/f2.png" alt="error">
      <div class="text"><b>20+</b></div>
      <div class="subtitle">Expert Team Members</div>
    </div>
    <div class="f3">
      <img src="./assets/home/f3.png" alt="error">
      <div class="text"><b>1000+</b></div>
      <div class="subtitle">Our Running Projects</div>
    </div>
  </div>

 
  
