
@media screen and (max-width: 768px) {
  .container.desktop {
    display: none;
    /* Hide the desktop container on mobile devices */
  }

  .mobilebanner {
    display: block;
    /* Display the mobile banner on mobile devices */
    
  }
  img{
    max-width: 100%; /* Set the maximum width to 100% to fit the screen */
    height: 300px; /* Automatically adjust the height to maintain the aspect ratio */
    width: 100%;
  }
}