<!-- <footer>
    <div class="social-details">
        <div class="footer-heading">
            <h1>Contact Us</h1>
        </div>
        <div class="contact-icons">
            <p><i class="fas fa-phone"></i> - +919527979200</p>
            <p><i class="fas fa-envelope"></i> - info@geomatrixmachining.com</p>
            <div class="social-icons-info">
                <a href="https://www.linkedin.com/company/geomatrix-machining-solutions-pvt-ltd"><i class="fab fa-linkedin"></i></a>
                
            </div>
        </div>
    </div>

    <div class="quick-links">
        <div class="footer-heading">
            <h1>Quick Links</h1>
        </div>
        <a href="#">Home</a>
        <a routerLink="/Services">Service</a>
        <a routerLink="/Contact">Contact</a>
    </div>
    <iframe class="maps"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30244.329151112783!2d73.79822128312708!3d18.6396974028568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b87468c719ab%3A0xdbfefecfcbcba4bd!2sEL%20Block%2C%20MIDC%2C%20Bhosari%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411026!5e0!3m2!1sen!2sin!4v1692004084221!5m2!1sen!2sin"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</footer>

<div class="footer-bottom">
    <p>© Copyright | All rights reserved | Made with <span>&#9829;</span> by <a style="text-decoration: none; color: rgb(151, 149, 149); font-style: italic;" href="https://www.linkedin.com/in/mitesh-parab" target="_blank">Mitesh</a>  and <a style="text-decoration: none; color: rgb(151, 149, 149); font-style: italic;" href="https://www.linkedin.com/in/malcolm-d-1826081b8" target="_blank">Malcolm</a></p>
</div> -->
<!--Footer container-->
<footer
  class="flex flex-col items-center bg-neutral-900 text-center text-white">
  <div class="container px-6 pt-6">
    <div class="mb-6 flex justify-center">
      

      <a
        href="#!"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M7 11v2.4h3.97c-.16 1.029-1.2 3.02-3.97 3.02-2.39 0-4.34-1.979-4.34-4.42 0-2.44 1.95-4.42 4.34-4.42 1.36 0 2.27.58 2.79 1.08l1.9-1.83c-1.22-1.14-2.8-1.83-4.69-1.83-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.721-2.84 6.721-6.84 0-.46-.051-.81-.111-1.16h-6.61zm0 0 17 2h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2z"
            fill-rule="evenodd"
            clip-rule="evenodd" />
        </svg>
      </a>



      <a
        href="https://www.linkedin.com/company/geomatrix-machining-solutions-pvt-ltd/"
        type="button"
        class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
        data-te-ripple-init
        data-te-ripple-color="light">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mx-auto h-full w-4"
          fill="currentColor"
          viewBox="0 0 24 24">
          <path
            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
        </svg>
      </a>


    </div>
  </div>

  <!--Copyright section-->
  <div
    class="w-full p-4 text-center"
    style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    | All rights reserved | Made by <a style="text-decoration: none; color: rgb(151, 149, 149); font-style: italic;" href="https://www.linkedin.com/in/mitesh-parab" target="_blank">Mitesh</a>  and <a style="text-decoration: none; color: rgb(151, 149, 149); font-style: italic;" href="https://www.linkedin.com/in/malcolm-d-1826081b8" target="_blank">Malcolm</a>
  </div>
</footer>