<app-navbar></app-navbar>
<app-imagslider></app-imagslider>

<div class="container">
<h2>Top Machines</h2>
<p>Scroll horizontally to view other images.</p>
</div>

<div class="scroll-container">
<img src="https://ik.imagekit.io/ht0xrdoeg/services/1.png?updatedAt=1694080475612" alt="Cinque Terre" width="500" height="300">
<img src="https://ik.imagekit.io/ht0xrdoeg/services/2.png?updatedAt=1694080477435" alt="Forest" width="600" height="400">
<img src="https://ik.imagekit.io/ht0xrdoeg/services/3.png?updatedAt=1694080481180" alt="Northern Lights" width="600" height="400">
<img src="https://ik.imagekit.io/ht0xrdoeg/services/4.png?updatedAt=1694080477086" alt="Mountains" width="600" height="400">
<img src="https://ik.imagekit.io/ht0xrdoeg/services/5.png?updatedAt=1694080477572" alt="Mountains" width="600" height="400">
</div>
    
    <div class="heading">
        <span>Inspection Facility</span>
    </div>
    <div class="inspection">
        <div class="imgsin">
            <img class="imag" src="https://ik.imagekit.io/ht0xrdoeg/services/inspection2.jpg?updatedAt=1693813993480" alt="">
        </div>
        <div class="content">
            <h2>3D Height Guage</h2>
            <p>Offering precise 3D height gauge measurements, our service utilizes cutting-edge technology to deliver accurate data for quality control and dimensional analysis. Trust us to provide efficient, reliable solutions for your measurement needs.</p>
        </div>
        
    </div>
    <div class="inspection">
        <div class="imgsin">
            <img class="imag" src="https://ik.imagekit.io/ht0xrdoeg/services/inspection.jpg?updatedAt=1693813995225" alt="">
        </div>
        <div class="content">
            <h2>Spectra 5641 CMM</h2>
            <p>We offer the Spectra 5641 CMM service through our website, providing unparalleled precision in dimensional measurements. Rely on our advanced Coordinate Measuring Machine to elevate the quality and precision of your products to new heights.</p>
        </div>
    </div>
    <div class="mob">
        
    </div>
<app-footer></app-footer>
