<app-navbar></app-navbar>
    <section class="mb-32 heading">
        <h1 class="mb-4 text-2xl font-bold">
            Top Machines &#8594;
        </h1>

        <p class="mb-6 flex text-2xl items-center font-bold uppercase text-danger dark:text-danger-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="mr-2 h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
            </svg>Exclusive
        </p>
    </section>

<app-imagslider></app-imagslider>



<div class="scroll-container">
    <img src="https://ik.imagekit.io/ht0xrdoeg/services/1.png?updatedAt=1694080475612" alt="Cinque Terre" width="500"
        height="300">
    <img src="https://ik.imagekit.io/ht0xrdoeg/services/2.png?updatedAt=1694080477435" alt="Forest" width="600"
        height="400">
    <img src="https://ik.imagekit.io/ht0xrdoeg/services/3.png?updatedAt=1694080481180" alt="Northern Lights" width="600"
        height="400">
    <img src="https://ik.imagekit.io/ht0xrdoeg/services/4.png?updatedAt=1694080477086" alt="Mountains" width="600"
        height="400">
    <img src="https://ik.imagekit.io/ht0xrdoeg/services/5.png?updatedAt=1694080477572" alt="Mountains" width="600"
        height="400">
</div>

<app-inspection></app-inspection>
<app-footer></app-footer>