<h2 class="headingtm" style="text-align:center">Top Machines</h2>

<div class="container">
  <!-- Slides -->
  <div class="mySlides">
    <div class="numbertext">1 / 5</div>
    <img src="./assets/services/CLX450.png" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 5</div>
    <img src="./assets/services/Makino.png" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 5</div>
    <img src="./assets/services/vl400q.png" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 5</div>
    <img src="./assets/services/DMGmori.png" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 5</div>
    <img src="./assets/services/vz400l.png" style="width:100%">
  </div>

  <!-- Previous and Next buttons -->
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!-- Caption -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="./assets/services/CLX450.png" style="width:100%" onclick="currentSlide(1)" alt="Slide 1">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/services/Makino.png" style="width:100%" onclick="currentSlide(2)" alt="Slide 2">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/services/vl400q.png" style="width:100%" onclick="currentSlide(3)" alt="Slide 3">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/services/DMGmori.png" style="width:100%" onclick="currentSlide(4)" alt="Slide 4">
    </div>
    <div class="column">
      <img class="demo cursor" src="./assets/services/vz400l.png" style="width:100%" onclick="currentSlide(5)" alt="Slide 5">
    </div>
  </div>
</div>
