<div class="heading">
  <span>Top Machines</span>
</div>
<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="./assets/services/CLX450.png" style="width:100%">
    <div class="text">CLX 450 TC 7</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="./assets/services/Makino.png" style="width:100%">
    <div class="text">Makino A77 HMC</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="./assets/services/DMGmori.png" style="width:100%">
    <div class="text">DMG Mori 5 Axis</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="./assets/services/vl400q.png" style="width:100%">
    <div class="text">vl400q Wirecut</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="./assets/services/vz400l.png" style="width:100%">
    <div class="text">VZ 400L Wirecut</div>
  </div>

  <!-- ... Next and previous buttons ... -->
  <a class="prev" (click)="plusSlides(-1)">❮</a>
<a class="next" (click)="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>