<div class="main">

    <h1 class="top-head">
        About Us
    </h1>
    <div class="container">
        <div class="content">
            <div class="wrapper">
                <h1>Geomatrix Machining Solutions</h1>
                <p>seamlessly integrates cutting-edge technological advancements with a heritage steeped in the art of
                    craftsmanship. Our core focus lies in the engineering and production of intricately machined
                    components that not only meet but exceed the stringent requirements of contemporary industries. Our
                    inception was catalyzed by a visionary pursuit to revolutionize precision engineering. As of today,
                    we proudly reign as the premier source for bespoke machining solutions, intricately customizing
                    solutions that resonate with the very pulse of mechanized excellence..</p>
                <button class="popup-button">View TVU Cerfification</button>

                <!-- Popup with image -->
                <div id="image-popup" class="popup">
                    <div class="popup-content">
                        <img id="popup-image" src="./assets/home/abt1.png" alt="Popup Image">
                        <p><button id="close-button">Close</button></p>
                    </div>
                </div>

                <!-- Popup trial By Mally -->
                <div>
                    <!-- main-component.component.html -->
                    <button (click)="openPopup()">Open Image Popup</button>
                    <app-image-popup *ngIf="showPopup" (close)="closePopup()"></app-image-popup>
                </div>

            </div>
        </div>
        <div class="parent">
            <img class="image1" src="./assets/home/abt1.png">
            <img class="image2" src="./assets/home/abt2.png">
        </div>

    </div>
</div>