<div class="services">
    <div class="card">
        <div class="right-side">
            <img src="./assets/home/image 11.png" alt="Image 2">
        </div>
        <div class="left-side">
            <h1>About Us</h1>
            <div class="text-overlay">
                <p>Established with a focus on precision and excellence, we are a leading commercial parts machining company specializing in Railway and Aerospace components, alongside precision parts. Our extensive capabilities range from one-offs to prototypes and large batches, catering to diverse materials, including high-grade alloys such as 'Inconel' and 'Titanium'. Equipped with state-of-the-art CNC machines, we craft intricate 3-dimensional profiles, handle complex screw threads, and perform precise engraving. Our unwavering commitment to meeting customer requirements, on-time deliveries, and unmatched quality ensures consistent satisfaction with every component produced.</p>
            </div>
        </div>
    </div>
</div>
