<div [ngClass]="{'scale-in-bottom': isInView}" class="headings">
    <h1>Our Clients</h1>
  </div>
    <div [ngClass]="{'scale-in-bottom': isInView}"  class="container">
        <div class="frame">
            <div class="content-container">
                <div class="content">
                    <img src="./assets/clients/client1.png" alt="eorr">
                    <img src="./assets/clients/client2.png" alt="eorr">
                    <img src="./assets/clients/client3.png" alt="eorr">
                    <img src="./assets/clients/client4.png" alt="eorr">
                    <img src="./assets/clients/client5.png" alt="eorr">
                    <img src="./assets/clients/client6.jpg" alt="eorr">
                    <img src="./assets/clients/client7.jpg" alt="eorr">
                    <img src="./assets/clients/client8.png" alt="eorr">
                    <img src="./assets/clients/client9.png" alt="eorr">
                    <img src="./assets/clients/client10.jpg" alt="eorr">
                    <img src="./assets/clients/client11.png" alt="eorr">
                    <img src="./assets/clients/client12.png" alt="eorr">
                    <img src="./assets/clients/client1.png" alt="eorr">
                    <img src="./assets/clients/client2.png" alt="eorr">
                    <img src="./assets/clients/client3.png" alt="eorr">
                    <img src="./assets/clients/client4.png" alt="eorr">
                    <img src="./assets/clients/client5.png" alt="eorr">
                    <img src="./assets/clients/client6.jpg" alt="eorr">
                    <img src="./assets/clients/client7.jpg" alt="eorr">
                    <img src="./assets/clients/client8.png" alt="eorr">
                    <img src="./assets/clients/client9.png" alt="eorr">
                    <img src="./assets/clients/client10.jpg" alt="eorr">
                    <img src="./assets/clients/client11.png" alt="eorr">
                    <img src="./assets/clients/client12.png" alt="eorr">
                    <img src="./assets/clients/client1.png" alt="eorr">
                    <img src="./assets/clients/client2.png" alt="eorr">
                    <img src="./assets/clients/client3.png" alt="eorr">
                    <img src="./assets/clients/client4.png" alt="eorr">
                    <img src="./assets/clients/client5.png" alt="eorr">
                    <img src="./assets/clients/client6.jpg" alt="eorr">
                    <img src="./assets/clients/client7.jpg" alt="eorr">
                    <img src="./assets/clients/client8.png" alt="eorr">
                    <img src="./assets/clients/client9.png" alt="eorr">
                    <img src="./assets/clients/client10.jpg" alt="eorr">
                    <img src="./assets/clients/client11.png" alt="eorr">
                    <img src="./assets/clients/client12.png" alt="eorr">
                     <!-- Repeat the first image at the end -->
                </div>
            </div>
        </div>
    </div>
