<div [ngClass]="{'scale-in-bottom': isInView}" class="headings">
    <h1>Our Clients</h1>
  </div>
    <div [ngClass]="{'scale-in-bottom': isInView}"  class="container">
        <div class="frame">
            <div class="content-container">
                <div class="content">
                    <img src="./assets/home/god.jpeg" alt="eorr">
                    <img src="./assets/home/c1.png" alt="eorr">
                    <img src="./assets/home/c2.png" alt="eorr">
                    <img src="./assets/home/c3.png" alt="eorr">
                    <img src="./assets/home/c6.png" alt="eorr">
                    <img src="./assets/home/god.jpeg" alt="eorr">
                    <img src="./assets/home/c1.png" alt="eorr">
                    <img src="./assets/home/c2.png" alt="eorr">
                    <img src="./assets/home/c3.png" alt="eorr">
                    <img src="./assets/home/c6.png" alt="eorr">
                    <img src="./assets/home/god.jpeg" alt="eorr">
                    <img src="./assets/home/c1.png" alt="eorr">
                    <img src="./assets/home/c2.png" alt="eorr">
                    <img src="./assets/home/c3.png" alt="eorr">
                    <img src="./assets/home/c6.png" alt="eorr">
                     <!-- Repeat the first image at the end -->
                </div>
            </div>
        </div>
    </div>
