<div [ngClass]="{'scale-in-bottom': isInView}" class="headings">
    <h2>Our Clients</h2>
  </div>
    <div [ngClass]="{'scale-in-bottom': isInView}"  class="container">
        <div class="frame">
            <div class="content-container">
                <div class="content">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/sanini.png?updatedAt=1696704578604" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/garret.png?updatedAt=1696704610461" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/honeywell.png?updatedAt=1696704642008" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/kalyani.jpg?updatedAt=1696704668672" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/atlascopco.png?updatedAt=1696704706962" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/alfalaval.png?updatedAt=1696704732451" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/hirschvogelgroup.png?updatedAt=1696704763040" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/wipro.png?updatedAt=1696704785782" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/bekaert.png?updatedAt=1696704811276" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/epiroc.jpg?updatedAt=1696704844725" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/mahindra.jpg?updatedAt=1696704867353" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/godrej.png?updatedAt=1696704892365" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/sanini.png?updatedAt=1696704578604" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/garret.png?updatedAt=1696704610461" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/honeywell.png?updatedAt=1696704642008" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/kalyani.jpg?updatedAt=1696704668672" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/atlascopco.png?updatedAt=1696704706962" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/alfalaval.png?updatedAt=1696704732451" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/hirschvogelgroup.png?updatedAt=1696704763040" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/wipro.png?updatedAt=1696704785782" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/bekaert.png?updatedAt=1696704811276" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/epiroc.jpg?updatedAt=1696704844725" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/mahindra.jpg?updatedAt=1696704867353" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/godrej.png?updatedAt=1696704892365" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/sanini.png?updatedAt=1696704578604" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/garret.png?updatedAt=1696704610461" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/honeywell.png?updatedAt=1696704642008" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/kalyani.jpg?updatedAt=1696704668672" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/atlascopco.png?updatedAt=1696704706962" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/alfalaval.png?updatedAt=1696704732451" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/hirschvogelgroup.png?updatedAt=1696704763040" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/wipro.png?updatedAt=1696704785782" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/bekaert.png?updatedAt=1696704811276" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/epiroc.jpg?updatedAt=1696704844725" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/mahindra.jpg?updatedAt=1696704867353" alt="eorr">
                    <img src="https://ik.imagekit.io/ht0xrdoeg/clients/godrej.png?updatedAt=1696704892365" alt="eorr">
                     <!-- Repeat the first image at the end -->
                </div>
            </div>
        </div>
    </div>
