* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  padding: 40px; /* Add padding to the contents */
  display: flex; /* Display contents in a row */
  justify-content: space-between; /* Align contents at the start and end */
  align-items: center; /* Vertically center contents */
  z-index: 1000; 
}
.nav > .nav-header{
  display: flex;
  flex-direction: row;
}
.head1 > .title{
  color: red;
  font-size: 15px;
}
.head1 > .sub{
  font-size: 12px;
}
.head1{
  margin-left:20px ;
  margin-top: 11px;
  cursor: pointer;
}


.nav > .nav-header > .nav-title img {
  max-height: 50px; /* Set the max height for the logo */
  padding-left: 60px;
  cursor: pointer;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 30px;
  text-decoration: none;
  color: #000000;
}

.nav > .nav-links > a:hover {
  background-color: rgba(15, 15, 15, 0.3);
  border-radius: 5px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-header > .nav-title img{
    padding: 0px;
    
  }
  .head1 > .title{
    color: red;
    font-size: 11px;
  }
  .head1 > .sub{
    font-size: 8px;
  }
  .head1{
    margin-left: 10px;
    margin-top: 15px;
  }
  
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 15px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #010101;
    
    
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #7e7a7a;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
    
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: white;
   
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}