



<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div routerLink="" style="cursor: pointer;" class="nav-title">
        <img src="https://ik.imagekit.io/ht0xrdoeg/home/GMSlogo.png?updatedAt=1693814081413g"  alt="Logo"> <!-- Replace with your logo image URL -->
      </div>
<div routerLink="" class="head1">
  <p class="title">Geomatrix Machining Solution Pvt. Ltd</p>
  <p class="sub">(Sister company of K.B. Engineering Works)</p>
      <!-- <span class="a1">Geomatrix Machining Solution <br>Geomatrix Machining Solution</span> -->
      <!-- <span class="a2">Geomatrix Machining Solution</span> -->
</div>
      
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a routerLink="" >Home</a>
      <a routerLink="/Services">Services</a>
      <a routerLink="/Contact" >Contact</a>
      
    </div>
  </div>




