



    <div class="navbar">
        <div class="logoAndCompName">
            <div class="logo"><img src="./assets/home/GMSlogo.png" style="height: 53px;width: 103px;" alt="">
            </div>
            <div class="companyName">
                <p id="heading">Geomatrix Machining Solution Pvt. Ltd</p>
                <p id="subheading">Sister company of K.B. Engineering Works</p>
            </div>
        </div>
        <div class="menu-icon" id="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="nav-list" id="nav-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a routerLink="Contact">Contact</a></li>
        </ul>
        <!-- <img src="/assets/banner.png" style="width: auto;height: 100%;" alt=""> -->
    </div>
    <script>const menuIcon = document.getElementById('menu-icon');
        const navList = document.getElementById('nav-list');

        menuIcon.addEventListener('click', () => {
            navList.classList.toggle('active');
        });</script>



