<!-- <app-navbar></app-navbar>
<div class="service-container">
    <div>
       <img src="" alt="" height="560" width="280"> 
    </div>
    <div>
        <h1 style="text-align: center;">{{ service.serviceName }}</h1>
    </div>
    <div class="service-details">
        <div style="margin: 0px 10px;"><b>Author</b>{{ service.author }}</div>
    </div>
    <div style="margin: 0px 10px;">
        <h2>{{ service.price }}</h2>
    </div>
    <div style="margin: 20px 10px;">
        <p>{{ service.description }}</p>
    </div>
</div>
<app-footer></app-footer> -->

<app-navbar></app-navbar>
<div class="serviceNameHeader">
    <h1>{{ service.serviceName }}</h1>
    <h1>{{ images.desc }}</h1>

</div>
<div class="gallery-main">
    <div *ngFor="let image of images" class="gallery" (click)="showImage(image.src, image.title, image.subtitle, image.desc)">
        <img [src]="image.src" alt="" width="180" height="120">
        <div class="desc">{{ image.title }}</div>
    </div>

    <div class="overlay" [ngClass]="{'show-overlay': overlaySrc}" (click)="hideImage()">
        <span class="close" (click)="hideImage()">&times;</span>
        <div class="overlay-content">
            <img id="overlay-image" [src]="overlaySrc" alt="">
            <div class="overlay-text">
                <h2 class="overlay-title">{{ overlayTitle }}</h2>
                <h3 class="overlay-subtitle">{{ overlaySubtitle }}</h3>
                <p class="overlay-description">{{ overlayDesc }}</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>






