

   <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <!-- Jumbotron -->
      <div class="container mx-auto text-center lg:text-left xl:px-32">
        <div class="flex grid items-center lg:grid-cols-2">
          <div class="mb-12 lg:mb-0">
            <div
              class="relative z-[1] block rounded-lg bg-[hsla(0,0%,100%,0.55)] px-6 py-12 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] backdrop-blur-[30px] dark:bg-[hsla(0,0%,5%,0.55)] dark:shadow-black/20 md:px-12 lg:-mr-14">
              <h2 class="mb-8 text-3xl font-bold">Our Services</h2>
              <p class="mb-8 pb-2 text-neutral-500 dark:text-neutral-300 lg:pb-0">
               At Geomatrix Machining Solutions Pvt. Ltd., our commitment to excellence is embodied in our comprehensive precision manufacturing services tailored for industries such as aerospace, defense, gas, and more.
              </p>
  
              <div class="mx-auto mb-8 flex flex-col md:flex-row md:justify-around lg:justify-between">
                <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-2 h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Best team
                </p>
  
                <p class="mx-auto mb-4 flex items-center md:mx-0 md:mb-2 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-2 h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Best quality
                </p>
  
                <p class="mx-auto mb-2 flex items-center md:mx-0 lg:mb-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" class="mr-2 h-5 w-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Best experience
                </p>
              </div>
  
              <p class="mb-0 text-neutral-500 dark:text-neutral-300">
                With cutting-edge facilities and a team of highly skilled engineers and technicians, we pride ourselves on delivering top-quality solutions that drive innovation and set industry benchmarks. Specializing in precision machining, our state-of-the-art facilities are equipped with advanced CNC technologies, ensuring accuracy and intricacy in component manufacturing. Whether serving the exacting demands of the aerospace sector, addressing unique challenges in defense, or meeting stringent standards in the gas industry, we bring a dedication to quality and innovation to every project. Our customer-centric approach emphasizes collaboration, customization, and a relentless pursuit of excellence, making Geomatrix the trusted partner for clients seeking unparalleled manufacturing solutions.
              </p>
            </div>
          </div>
  
          <div>
            <img src="https://ik.imagekit.io/ht0xrdoeg/home/gmsservices.jpg?updatedAt=1693814082647"
              class="w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
