

    <div [ngClass]="{'scale-in-bottom': isInView}"  class="about-section ">
        <div class="inner-container">
            <h1>Services</h1>
            <p class="text">
                At Geomatrix Machining Solutions Pvt. Ltd., we take pride in offering a comprehensive range of precision manufacturing services tailored to meet the exacting demands of the aerospace, defense, gas, and various other industries. With our state-of-the-art facilities and a team of highly skilled engineers and technicians, we are dedicated to delivering top-quality manufacturing solutions that drive innovation and excellence
            </p>
            
        </div>
    </div>
