<app-navbar></app-navbar>


<div class="contactUs">
    <div class="title">
        <span>Contact Us</span>
    </div>
    <div class="box">
        <div class="contact form">
            <h3>Send us a message</h3>
            <form action="">
                <div class="formbox">
                    <div class="row50">
                        <div class="inputBox ">
                            <span> Full Name </span>
                            <input type="text" placeholder="" required>
                        </div>
                        

                    </div>

                    <div class="row50">
                        <div class="inputBox ">
                            <span> Email</span>
                            <input type="text" placeholder="">
                        </div>
                        
                    </div>
                    <div class="row100">
                        <div class="inputBox ">
                            <span> Message</span>
                            <textarea name="" id="" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="row100">
                        <div class="btn ">
                            <input style="background-color: blueviolet; color: white;" type="submit" value="Send">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="contact info">
            <h3>Contact info </h3>
            <div class="infoBox">
                <div>
                    <span>
                        
                    </span>
                    <p>EL Block MIDC, Bhosari Pimpri-Chinchwad, Maharashtra 411026</p>
                </div>
                <div>
                    <span>
                        
                    </span>
                    <a href="mailto:xyz@gmail.com">info@geomatrixmachining.com</a>
                </div>
                <div>
                    <span>
                        
                    </span>
                    <a href="tel:123">9881076546</a>
                </div>
                <ul class="sci">
                    
                    <li><a href="">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a></li>
                </ul>
            </div>

        </div>
        <div class="contact map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30244.329151112783!2d73.79822128312708!3d18.6396974028568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b87468c719ab%3A0xdbfefecfcbcba4bd!2sEL%20Block%2C%20MIDC%2C%20Bhosari%2C%20Pimpri-Chinchwad%2C%20Maharashtra%20411026!5e0!3m2!1sen!2sin!4v1692004084221!5m2!1sen!2sin"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <p>© Copyright | All rights reserved | Made with <span>&#9829;</span> by <a style="text-decoration: none; color: rgb(151, 149, 149); font-style: italic;" href="https://www.linkedin.com/in/mitesh-parab" target="_blank">Mitesh</a>  and <a style="text-decoration: none; color: rgb(151, 149, 149); font-style: italic;" href="https://www.linkedin.com/in/malcolm-d-1826081b8" target="_blank">Malcolm</a></p>
</div>

