<h1 [ngClass]="{'scale-in-bottom': isInView}" class="top-head">Our Services</h1>
  <!-- <div class="card-main"> -->
    <div [ngClass]="{'scale-in-bottom': isInView}" class="card-container">
      <!-- Card 1 -->
      <div class="card">
        <img src=".\assets\services\fixture2.png" class="card-img" alt="">
        <div class="card-body">
          <h1 class="card-title">Fixture</h1>
          <p class="card-sub-title"></p>
          <p class="card-info"></p>
          <!-- <button class="card-btn"
            onclick="window.location.href='https://drive.google.com/file/d/17MqERjr7sO4F6bVQ3HGvc205_INnQGMM/view'">View Fixture
          </button> -->
          <button class="card-btn"
          routerLink="/Service/101">View PHP
        </button>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img src=".\assets\services\machined comp2.jpg" class="card-img" alt="">
        <div class="card-body">
          <h1 class="card-title">Special Components</h1>
          <p class="card-sub-title"></p>
          <p class="card-info"></p>
          <!-- <button class="card-btn"
            onclick="window.location.href='https://drive.google.com/file/d/17MqERjr7sO4F6bVQ3HGvc205_INnQGMM/view'">View Special Components
          </button> -->
          <button class="card-btn"
          routerLink="/Service/102">View HTML
        </button>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="card">
        <img src=".\assets\services\machined comp4.jpg" class="card-img" alt="">
        <div class="card-body">
          <h1 class="card-title">Machined Components</h1>
          <p class="card-sub-title"></p>
          <p class="card-info"></p>
          <!-- <button class="card-btn"
            onclick="window.location.href='https://drive.google.com/file/d/17MqERjr7sO4F6bVQ3HGvc205_INnQGMM/view'">view Machined Components
          </button> -->
          <button class="card-btn"
          routerLink="/Service/103">View MongoDB
        </button>
        </div>
      </div>

     
    </div>
