<h1>Our Top Products</h1>

<div class="card-container">
  <div class="card">
    <img src="./assets/home/producttest.png" alt="Avatar">
    <div class="container">
      <h4><b>John Doe</b></h4> 
      <p>Web Developer</p> 
      <button class="read-more-button">Read More</button>
    </div>
  </div>
  
  <div class="card">
    <img src="./assets/home/producttest.png" alt="Avatar">
    <div class="container">
      <h4><b>Jane Doe</b></h4> 
      <p>Interior Designer</p> 
      <button class="read-more-button">Read More</button>
    </div>
  </div>
  
  <div class="card">
    <img src="./assets/home/producttest.png" alt="Avatar">
    <div class="container">
      <h4><b>Alex Smith</b></h4> 
      <p>Graphic Designer</p> 
      <button class="read-more-button">Read More</button>
    </div>
  </div>
</div>

