/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* scroll fade up*/
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}


.fade-up-active {
    opacity: 1;
    transform: translateY(0);
}
button{
    padding: 15px;
    color: #fff;
    background-color: rgb(111, 111, 239);
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 20px;
  }
  /* Styles for the popup */
